// place your custom styles here
.vp-portfolio-info{
    align-self: flex-start;
    margin-top: 10%;
}

// warning
.hint-container.warning{
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(251 155 95 / var(--tw-border-opacity));
    background-color: #fb9b5f0d;
}
.hint-container.warning>.hint-container-title{
    color: rgb(251 155 95 / var(--tw-border-opacity));
}

.hint-container.warning :not(pre)>code{
    background-color: #fb9b5f33 !important;
}

// caution
.hint-container.caution{
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(220 76 79 / var(--tw-border-opacity));
    background-color: #fb675f10;
}
.hint-container.caution>.hint-container-title{
    color: rgb(220 76 79 / var(--tw-border-opacity));
}

.hint-container.caution :not(pre)>code{
    background-color: #fb675f2f !important;
    color: rgb(220 76 79 / var(--tw-border-opacity));
}

// tip
.hint-container.tip{
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(60.0379746835, 169.4620253165, 120.0759493671);
    background-color: #d2ffc70d;
}

.hint-container.info{
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #2888a7;
    background-color: #f3fcffa1;
}

.hint-container.details{
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: #2888a7;
    background-color: #f3fcffa1;
}

.hint-container.warning div[class*=language-],
.hint-container.details div[class*=language-]{
    background-color: rgba(0,0,0,0);
    border: none;
}


.hint-container.details summary,.hint-container.details[open]>summary{
    color:#2888a7;
    font-weight: 600;
}

// link
div[class*=language-],
.vp-sidebar-link.active {
    // background-color: rgb(60.0379746835, 169.4620253165, 120.0759493671);
    // color: white;
    border-radius: .5rem;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(60.0379746835, 169.4620253165, 120.0759493671);
    background-color: #d2ffc70d;
}
.vp-nav-item > .auto-link::before{
    background-color: rgb(60.0379746835, 169.4620253165, 120.0759493671);
}

.vp-portfolio:not(.bg){
    background-color: var(--vp-c-accent-soft);
}

.page-tag-item.color3{
    color: rgb(24 153 79);
}
.page-tag-item.color5{
    color: rgb(23 151 173);
}
:not(pre)>code{
    background: var(--vp-c-accent-soft);
    color: var(--vp-c-accent);
    font-weight: bolder;
}

// .hint-container :not(pre)>code{
//     color: var(--hint-c-title);
// }

.vp-scroll-progress circle{
    transform: none;
}